# dir config

# default rom dir
!ms0:/PSP/gba/rom

# default save dir
!ms0:/PSP/gba/save

# default cfg dir
!ms0:/PSP/gba/cfg

# default screen shot dir
!ms0:/PSP/PHOTO

# default cheat dir
!ms0:/PSP/gba/cht
